/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 20px;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 2;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  background-color: lightgrey;
}
.container {
  max-width: 88rem;
  font-size: 1.6rem;
  background-color: #fdffdf;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2rem;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1 {
  font-size: 4rem;
  padding: 1rem 3rem;
}
header a {
  padding: 4rem 3rem;
  font-size: 2rem;
  text-decoration: none;
  color: black;
}
header a:hover {
  color: aqua;
  background-color: black;
  border-radius: 1rem;
}
body {
  display: flex;
  justify-content: center;
  align-items: inherit;
}
body img {
  width: 100%;
  height: 30rem;
  border-top: 1rem solid black;
  border-bottom: 1rem solid black;
  border-radius: 1rem;
}
.work-body {
  padding: 1rem;
}
.work-body .title-body h2,
.work-body .title-body h3 {
  width: 50%;
  border-top: 1rem solid aqua;
  border-bottom: 1rem solid aqua;
  display: flex;
  justify-content: center;
  align-items: inherit;
  font-size: 2.5rem;
  margin: 0 auto;
}
.work-body .title-body h3 {
  margin-bottom: 2rem;
}
.work-body .title-body p {
  width: 90%;
  margin: 1rem auto 3rem;
}
.work-body h4 {
  font-size: 2rem;
}
.work-body p {
  text-indent: 4rem;
  margin-bottom: 4rem;
}
.all-work {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-flow: row wrap;
}
.all-work .job {
  
  padding: 2rem;
  width: 45%;
  margin-bottom: 2rem;
}
.all-work .job h4 {
  text-align: center;
}
.all-work .job1 {
  background-color: #81ffff;
  border: 0.5rem solid black;
}
.all-work .job2 {
  background-color: #ff7c7c;
  border: 0.5rem solid black;
}
.all-work .job3 {
  background-color: lightgreen;
  border: 0.5rem solid black;
}
.all-work .job4 {
  background-color: orange;
  border: 0.5rem solid black;
}
footer nav {
  display: flex;
  justify-content: space-between;
  align-items: null;
}
footer nav a {
  text-decoration: none;
  color: black;
  padding: 2rem 5.5rem;
}
footer nav a:hover {
  color: aqua;
  background-color: black;
}
@media (max-width: 50rem) {
  .container {
    max-width: 50rem;
    font-size: 1.6rem;
    background-color: #fdffdf;
    font-family: Arial, Helvetica, sans-serif;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  header h1 {
    font-size: 4rem;
    padding: 1rem;
  }
  header a {
    padding: 2rem 2rem;
    font-size: 2rem;
    text-decoration: none;
    color: black;
  }
  header a:hover {
    color: aqua;
    background-color: black;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: inherit;
  }
  body img {
    width: 100%;
    height: 30rem;
    border-top: 1rem solid black;
    border-bottom: 1rem solid black;
    border-radius: 1rem;
  }
  .work-body {
    padding: 1rem;
  }
  .work-body .title-body h2,
  .work-body .title-body h3 {
    width: 50%;
    border-top: 1rem solid aqua;
    border-bottom: 1rem solid aqua;
    display: flex;
    justify-content: center;
    align-items: inherit;
    font-size: 2.5rem;
    margin: 0 auto;
    text-align: center;
    line-height: 3rem;
  }
  .work-body .title-body h3 {
    margin-bottom: 2rem;
  }
  .work-body .title-body p {
    width: 90%;
    margin: 0 auto 3rem;
  }
  .work-body h4 {
    font-size: 1.7rem;
    line-height: 1.25;
  }
  .work-body p {
    font-size: 1.3rem;
    text-indent: 2rem;
    margin-bottom: 4rem;
  }
  .all-work {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-flow: row wrap;
  }
  .all-work .job {
    padding: 2rem;
    width: 45%;
    margin-bottom: 2rem;
    flex-wrap: wrap;
  }
  .all-work .job h4 {
    text-align: center;
  }
  .all-work .job1 {
    background-color: #81ffff;
    border: 0.5rem solid black;
  }
  .all-work .job2 {
    background-color: #ff7c7c;
    border: 0.5rem solid black;
  }
  .all-work .job3 {
    background-color: lightgreen;
    border: 0.5rem solid black;
  }
  .all-work .job4 {
    background-color: orange;
    border: 0.5rem solid black;
  }
  footer nav {
    display: flex;
    justify-content: space-between;
    align-items: null;
  }
  footer nav a {
    text-decoration: none;
    color: black;
    width: 20%;
    padding: 2rem 2rem;
    text-align: center;
  }
  footer nav a:hover {
    color: aqua;
    background-color: black;
    border-radius: 1rem;
  }
}
