/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 20px;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 2;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  height: 100%;
  background-color: lightgrey;
}
.container {
  max-width: 88rem;
  font-size: 1.6rem;
  background-color: #cccccc;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
header h1 {
  font-size: 4rem;
}
header a {
  margin: 0 2rem;
  font-size: 2rem;
  text-decoration: none;
  color: black;
}
body {
  display: flex;
  justify-content: center;
  align-items: inherit;
}
body img {
  width: 100%;
  height: 30rem;
  border-top: 1rem solid black;
  border-bottom: 1rem solid black;
}
.work-body {
  padding: 1rem;
}
.work-body .title-body h2 {
  width: 40%;
  border-top: 2rem solid rgba(121, 121, 121, 0.671);
  border-bottom: 2rem solid rgba(121, 121, 121, 0.671);
  display: flex;
  justify-content: center;
  align-items: inherit;
  font-size: 2.5rem;
  margin: 0 auto;
}
.work-body .title-body p {
  width: 90%;
  margin: 0 auto 3rem;
}
.work-body h4 {
  font-size: 2rem;
}
.work-body p {
  text-indent: 4rem;
  margin-bottom: 4rem;
}
.all-work {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
}
.all-work .job {
  height: 34rem;
  padding: 2rem;
  width: 45%;
  margin-bottom: 2rem;
}
.all-work .job h4 {
  text-align: center;
}
.all-work .job1 {
  background-color: aqua;
  border: 0.5rem solid black;
}
.all-work .job2 {
  background-color: brown;
  border: 0.5rem solid black;
}
.all-work .job3 {
  background-color: lightgreen;
  border: 0.5rem solid black;
}
.all-work .job4 {
  background-color: orange;
  border: 0.5rem solid black;
}
footer nav {
  display: flex;
  justify-content: space-between;
  align-items: null;
}
footer nav a {
  text-decoration: none;
  color: black;
}
