// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html,body,div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 20px;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 2;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// Starting content ^

// Mixins v

.custom-flex(@justify, @align){
	display:flex;
	justify-content: @justify;
	align-items: @align;
}
.custom-border(){
	border: 0.5rem solid black;
}
//Mixins ^

//general/pre content v
/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}
html{
	font-size:62.5%;
}

html, body {
	// height: 100%;
	background-color: lightgrey;
}

.container{
	max-width: 88rem;
	font-size:1.6rem;
	background-color: rgb(253, 255, 223);
	font-family: Arial, Helvetica, sans-serif;
	padding:2rem;
}
//General/ pre content ^  (ALL PAGE CONTENT)!!!!!!!!!!!!!



header {
	.custom-flex(space-between, center);
	h1{
		font-size:4rem;
		padding:1rem 3rem;
	}
	a{
		padding:4rem 3rem;
		font-size: 2rem;
		text-decoration: none;
		color:black;
	}
	a:hover{
		color: aqua;
		background-color:black;
		border-radius: 1rem;
	}
}

body{
	.custom-flex(center,inherit);
	
	img{
		width:100%;
		height: 30rem;
		border-top: 1rem solid black;
		border-bottom: 1rem solid black;
		border-radius:1rem;
}
}
.work-body{
	.title-body{
		h2{
			width:50%;
			border-top:2rem solid aqua;
			border-bottom:2rem solid aqua;
			.custom-flex(center, inherit);
			font-size: 2.5rem;
			margin: 0 auto;
		}
		p{
			width:90%;
			margin: 0 auto 3rem;
		}
	}
	padding: 1rem;
	h4{
		font-size:2rem;
	}
	p{
		text-indent: 4rem;
		margin-bottom: 4rem;
	}
}
.all-work{
	.custom-flex(space-around, center);
	flex-flow: row wrap;
	.job{
		height:37rem;
		padding:2rem;
		width:45%;
		margin-bottom:2rem;
		h4{
			text-align:center;
		}
	}
	.job1{
		background-color: rgb(129, 255, 255);
		.custom-border;
	}
	.job2{
		background-color: rgb(255, 124, 124);
		.custom-border;
	}
	.job3{
		background-color: lightgreen;
		.custom-border;
	}
	.job4{
		background-color: orange;
		.custom-border;
	}
}
footer{
	nav{
		.custom-flex(space-between, null);
		a{
			text-decoration: none;
			color:black;
			padding:2rem 8.8rem;
		}
		a:hover{
			color: aqua;
			background-color:black;
		}
	}
}

@media(max-width:50rem){
	.container{
		max-width: 50rem;
		font-size:1.6rem;
		background-color: rgb(253, 255, 223);
		font-family: Arial, Helvetica, sans-serif;
	}
	header {
		.custom-flex(space-between, center);
		flex-direction: column;
		h1{
			font-size:4rem;
			padding:1rem;
		}
		a{
			padding:2rem 2rem;
			font-size: 2rem;
			text-decoration: none;
			color:black;
		}
		a:hover{
			color: aqua;
			background-color:black;
		}
	}
	
	body{
		.custom-flex(center,inherit);
		
		img{
			width:100%;
			height: 30rem;
			border-top: 1rem solid black;
			border-bottom: 1rem solid black;
			border-radius:1rem;
	}
	}
	.work-body{
		.title-body{
			h2{
				width:50%;
				border-top:2rem solid aqua;
				border-bottom:2rem solid aqua;
				.custom-flex(center, inherit);
				font-size: 2.5rem;
				margin: 0 auto;
				text-align:center;
			}
			p{
				width:90%;
				margin: 0 auto 3rem;
			}
		}
		padding: 1rem;
		h4{
			font-size:1.7rem;
			line-height: 1.25;
		}
		p{
			font-size: 1.3rem;
			text-indent: 2rem;
			margin-bottom: 4rem;
		}
	}
	.all-work{
		.custom-flex(space-around, center);
		flex-flow: row wrap;
		.job{
			height:50rem;
			padding:2rem;
			width:45%;
			margin-bottom:2rem;
			flex-wrap: wrap;
			h4{
				text-align:center;
			}
		}
		.job1{
			background-color: rgb(129, 255, 255);
			.custom-border;
		}
		.job2{
			background-color: rgb(255, 124, 124);
			.custom-border;
		}
		.job3{
			background-color: lightgreen;
			.custom-border;
		}
		.job4{
			background-color: orange;
			.custom-border;
		}
	}
	footer{
		nav{
			.custom-flex(space-between, null);
			a{
				text-decoration: none;
				color:black;
				width:20%;
				padding:2rem 2rem;
				text-align:center;
			}
			a:hover{
				color: aqua;
				background-color:black;
				border-radius: 1rem;

			}
		}
	}
}


// Contacts page	---------------------------------------


body{
	.custom-flex(center,inherit);
	
	.contact-img{
		width:100%;
		height: 30rem;
		border-top: 1rem solid black;
		border-bottom: 1rem solid black;
		border-radius:1rem;
}
}